<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.common.mapper.CarMapper">

    <select id="selectList2" resultType="com.xxx.common.entity.Car">
        select `c`.*,u.real_name,p.name,p.brand,p.image_url,s.spec_name from car c left join `user` u on c.user_id=u.id
        left join product p on c.product_id=p.id left join spec s on c.spec_id=s.id
        where 1=1
        <if test="userId !=null">
            and c.user_id=#{userId}
        </if>
    </select>
</mapper>
